#perfilLateral {
    height: 500px;
    position: absolute;
    left: 0;

}

.list {
    list-style: none;
    line-height: 50px;
    font-size: 14px;
    text-decoration: none;
    
  }
  
  ul.list li a{
    text-decoration: none;
  }
  
  ul.list li:hover {
    border: none;
    background-color: #e7e7db;
    color:#61297c;
    cursor: pointer;
    text-decoration: none;
  }
  

#page-content{
    min-width: 100vw;
    width: 100%;
    position: relative;
    margin-left: 1rem;
}

#feed{
    overflow-x: hidden;
    position: absolute;
}


/*card amigos*/
#titulo-amigos{
    color: #61297c;
    font-weight: bold;
  }
  
  body {
    background-color: #eee
  }
  
  .card-amigos {
    border-radius: 5px;
    width: 300px;
    border: none
  }
  
  .about {
    line-height: 19px
  }
  
  .follow {
    height: 31px;
    border-radius: 22px
  }
  
  hr {
    color: #c5c4c4
  }
  /*card amigos*/