<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<!-- Parte fixa esquerda Pag -->
<div class="row" id="feed">
    <div class="col-md-2">
        <div class="d-flex justify-content-start" id="perfilLateral">
            <div class="card mt-4 px-4 pt-4 pb-2">
                <div class="media p-2 "> <img width="70px" height="70px" src="" class="mr-1 align-self-start rounded-circle">
                    <div class="media-body">
                        <div class="d-flex flex-row justify-content-between">
                            <h6 class="ml-3 mt-2 mb-0">Olá</h6>
                        </div>
                    </div>
                </div>
                <ul class="list mt-3 pl-0">
                    <li>Perfil</li>
                    <li><a><i class="fa fa-building mr-3 ml-2"></i>Editar perfil</a></li>
                    <li>Amigos</li>
                    <li>Configurações</li>
                    <li>Sair</li>
                </ul>
            </div>
        </div>
        <!-- /Parte fixa esquerda Pag -->
    </div>
    <div class="col-md-8">
        <div class="" id="page-content">
            <app-inicio></app-inicio>
        </div>
    </div>
    <div class="col-md-2">
        <!--Amigos-->
     <!-- <div class="container mt-5 d-flex justify-content-center">
        <div class="card p-3 card-amigos">
            <h5 id="titulo-amigos">Sugestões de amigos</h5>
            <div class="d-flex justify-content-between mt-2 align-items-center">
                <div class="d-flex flex-row"> <img src="https://i.imgur.com/o5uMfKo.jpg" class="rounded-circle" width="40">
                    <div class="d-flex flex-column ml-1 about"> <span class="font-weight-bold">Madison</span> <small>585 posts</small> </div>
                </div> <button class="btn btn-outline-success btn-sm follow">Follow</button>
            </div>
            <hr>
            <div class="d-flex justify-content-between mt-2 align-items-center">
                <div class="d-flex flex-row"> <img src="https://i.imgur.com/tmdHXOY.jpg" class="rounded-circle" width="40">
                    <div class="d-flex flex-column ml-1 about"> <span class="font-weight-bold">Anna Sthesia</span> <small>285 posts</small> </div>
                </div> <button class="btn btn-outline-success btn-sm follow">Follow</button>
            </div>
            <hr>
            <div class="d-flex justify-content-between mt-2 align-items-center">
                <div class="d-flex flex-row"> <img src="https://i.imgur.com/C4egmYM.jpg" class="rounded-circle" width="40">
                    <div class="d-flex flex-column ml-1 about"> <span class="font-weight-bold">Paul Moliv</span> <small>585 posts</small> </div>
                </div> <button class="btn btn-outline-success btn-sm follow">Follow</button>
            </div>
        </div>
    </div> -->
    <!--Amigos-->
    </div>
    
</div>
