#tema-apagar{
    color: #61297c;
}

#tema{
    color: #61297c;
}

#botao-sim{
    font-size: 12pt;
    border-radius: 10px;
    width: 100pt;
    font-weight: 500;
    box-shadow: #d6d2c4 5px 5px 7px
}

#botao-sim:hover{
    background:rgb(116, 3, 3);
    color:white;
}

#botao-nao{
    background: #61297c;
    font-size: 12pt;
    border-radius: 10px;
    width: 100pt;
    font-weight: 500;
    box-shadow: #d6d2c4 5px 5px 7px;
    color: #ffffff;
}

#botao-nao:hover{
    background: #fedc18;
    color: #401c52;
}

