#temas{
    color: #61297c;
}

.form-control{
    border-radius: 10px;
    width: 250pt;
    font-weight: 500;
    box-shadow: #d6d2c4 5px 5px 7px;
    color: #ffffff;
}

#botao-cadastrar{
    background: #61297c;
    font-size: 12pt;
    border-radius: 10px;
    width: 100pt;
    font-weight: 500;
    box-shadow: #d6d2c4 5px 5px 7px;
    color: #ffffff;  
}

#botao-cadastrar:hover{
    background: #fedc18;
    color: #401c52;
}

#todos-temas{
    color: #61297c; 
}
#botao-editar{
    background: #61297c;
    font-size: 12pt;
    border-radius: 10px;
    width: 100pt;
    font-weight: 500;
    box-shadow: #d6d2c4 5px 5px 7px;
    color: #ffffff;
}

#botao-editar:hover {
    background: #fedc18;
    color: #401c52;
  }

#botao-apagar{
    font-size: 12pt;
    border-radius: 10px;
    width: 100pt;
    font-weight: 500;
    box-shadow: #d6d2c4 5px 5px 7px
}

#botao-apagar:hover{
    background:rgb(116, 3, 3);
    color:white;
}