.colorFont{
    
    color: #61297c

}

button {
    background: #fedc18;
    font-size: 12pt;
    border-radius: 10px;
    width: 100pt;
    box-shadow: #d6d2c4 5px 5px 7px;
    color: #61297c;
    font-weight: 500;
  }