#img-bg{
    background-image: url('https://i.imgur.com/KDsKBli.jpeg');

    min-height: 625px;;

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}   

#email {
    border-radius: 10px;
    background: #e5e5e5;
    box-shadow: 5px 5px 7px #cac7b9;
    height: 45px;
    font-size: 12pt;
}
#senha {
    border-radius: 10px;
    background: #e5e5e5;
    box-shadow: 5px 5px 7px #cac7b9;
    height: 45px;
    font-size: 12pt;
}

#botaoentrar {
    background: #61297c;
    font-size: 12pt;
    border-radius: 10px;
    width: 100pt;
    font-weight: 500;
    box-shadow: #d6d2c4 5px 5px 7px;
    color: #ffffff;
}
#botaoentrar:hover {
    background: #fedc18;
    color: black;
  }

#linkfora{
    color: #61297c;
    font-weight: 700;
}