<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Valores</title>
</head>
<body>
    <section>
        <div class="content">
            <div class="textBox">
                <h2>Valores</h2>
                <br/>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Repudiandae expedita facilis dolorem quidem deserunt porro, sapiente voluptatibus temporibus nisi odio fugiat sunt possimus iste in dicta! Excepturi cum quis ducimus.</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius, soluta? Molestiae labore illum enim quas similique ipsum autem molestias eius totam, rem sint delectus qui consequatur, laudantium voluptatem necessitatibus tempore.</p>
                <a class="btn mt-4" href="">A equipe</a>
            </div>
            <div class="imgBox">
                <img src="https://imgur.com/pckA2Er.jpg.png" width="550" height="550" class="imagem1">
            </div>
        </div>
    </section>
</body>
</html> 