<div class="container-flex mt-4" id="equipe">
    <h1 class="text-center mb-5">Conheça nossa equipe!</h1>
</div>
<div class="card-deck">
    <div class="card justify-content-center">
      <img class="card-img-top" src="./assets/img/deny.jpg" alt="Imagem de capa do card">
      <div class="card-body">
        <h5 class="card-title">Denysson Max</h5>
        <img class="card-img-top tm-social p-2" src="./assets/img/github.png" alt="Imagem de capa do card">
        <img class="card-img-top tm-social p-2" src="./assets/img/linkedin.png" alt="Imagem de capa do card">
      </div>
    </div>
    <div class="card">
      <img class="card-img-top" src="./assets/img/rafa.jpg" alt="Imagem de capa do card">
      <div class="card-body">
        <h5 class="card-title">Rafaela Machado</h5>
        <img class="card-img-top tm-social p-2" src="./assets/img/github.png" alt="Imagem de capa do card">
        <img class="card-img-top tm-social p-2" src="./assets/img/linkedin.png" alt="Imagem de capa do card">
        
      </div>
    </div>
    <div class="card">
      <img class="card-img-top" src="./assets/img/rita.jpg" alt="Imagem de capa do card">
      <div class="card-body">
        <h5 class="card-title">Rita Kiota</h5>
        <img class="card-img-top tm-social p-2" src="./assets/img/github.png" alt="Imagem de capa do card">
        <img class="card-img-top tm-social p-2" src="./assets/img/linkedin.png" alt="Imagem de capa do card">
        
      </div>
    </div>

    <div class="card">
        <img class="card-img-top" src="./assets/img/vini.jpg" alt="Imagem de capa do card">
        <div class="card-body">
          <h5 class="card-title">Vinícius da Silva</h5>
          <img class="card-img-top tm-social p-2" src="./assets/img/github.png" alt="Imagem de capa do card">
          <img class="card-img-top tm-social p-2" src="./assets/img/linkedin.png" alt="Imagem de capa do card">
        </div>
      </div>

      <div class="card">
        <img class="card-img-top" src="./assets/img/was.jpg" alt="Imagem de capa do card">
        <div class="card-body">
          <h5 class="card-title">Washington Albuquerque</h5>
          <img class="card-img-top tm-social p-2" src="./assets/img/github.png" alt="Imagem de capa do card">
          <img class="card-img-top tm-social p-2" src="./assets/img/linkedin.png" alt="Imagem de capa do card">
         
        </div>
      </div>

  </div>