 
.card {
    border: none;
  }
   
  .perfil {
    width: 250px;
    height: 250px;
    border-radius: 20px;
  }

  .titulo-equipe{
    color: #61297c;
  }
   
   
  .tm-social {
    max-width: 60px;
    max-height: 60px;
    border-radius: 20px;
  }
   
  .logo-social:hover {
    transform: scale(1.2);
    transition: transform 0.3s ease-out;
    cursor: pointer;
  }
  