<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Sobre Nós</title>
</head>
<body>
    <section>
        <div class="circle"></div>
        <div class="content">
            <div class="textBox ml-5">
                <h2>A primeira rede social dedicada exclusivamente a doação de itens.<br>Esse é o <span>Repassa</span></h2>
                <br/>
                <p>O Repassa é uma rede social criada com o propósito de dar novos significados a itens do lar, como móveis e eletrodomésticos. </p>
                <p>Você dá adeus àquele item que está parado na sua casa e ajuda pessoas que não podem comprá-lo. Com isso, você reduz os impactos ambientais e ainda ajuda alguém que precisa.</p>
                <a class="btn mt-4" href="">Cadastrar</a>
            </div>
            <div class="imgBox">
                <img src="https://imgur.com/7zlGG21.jpg.png"  width="550" height="550" class="imagem">
            </div>
            </div>
    </section>
</body>
</html>