<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Visão</title>
</head>
<body>
    <section>
        <div class="circle"></div>
        <div class="content">
            <div class="imgBox">
                <img src="https://imgur.com/tgI1dB4.jpg.png"  width="550" height="550" class="imagem">
            </div>
            <div class="textBox mr-5">
                <h2>Visão</h2>
                <br/>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Fugit vero consectetur ipsum distinctio eveniet quaerat, esse debitis dicta quas consequuntur repudiandae cupiditate odio tempora! Eaque fugiat unde quo illo saepe. </p>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quaerat ea, voluptatem ipsum quasi eligendi laudantium accusamus, dicta autem architecto tempora aspernatur excepturi. Dicta, debitis! Iure facilis explicabo quam odit debitis?</p>
                
            </div>
            
            </div>
    </section>
</body>
</html>